<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h1>Registration</h1>

<% if flash[:error] %>
	<p><%= flash[:error] %></p>
<% end %>

<%= simple_form_for(:user, :url => "/users/create") do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :zipcode %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.collection_radio_buttons :user_type, [['user', 'User'] ,['vendor', 'Vendor']], :first, :last%>
  <br>

  <%= f.button :submit %>
<% end %>
