<h1>SessionUser#new</h1>
<p>Find me in app/views/session_user/new.html.erb</p>


<h1>Sign In</h1>

<% if flash[:error] %>
	<p><%= flash[:error] %></p>
<% end %>

<%= simple_form_for(:session, :url => "/session_user") do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
